{% load static %}
<!DOCTYPE html>
<html lang="en">

<!--<< Header Area >>-->

{% block head %}

{% endblock %}

<!--<< Body Area >>-->

<body>

<!--<< Preloader >>-->
<div class="preloader__Dixon">
    <div class="box text-center">
         <span class="fz-30 mati fw-600 text-uppercase">
            2311102441245-Muhammad Rafli Al Isfahani
         </span>
    </div>
</div>
<!--<< Preloader >>-->


{% block banner %}

{% endblock %}
<!--<< About 01 >>-->
<section class="about-section-v01 check-box-style mb-common pt-100 pb-100" id="about">
    <div class="container">
        <div class="edu-expri-head">
            <div class="section-title mb-60">
               <span class="section-sub" data-aos="fade-down" data-aos-duration="1000">
                  About Me
               </span>
                <h3 class="fw-500 mt-3" data-aos="fade-down" data-aos-duration="1500">
                    <span class="d-flex justify-content-end">I'm a Senior Product Designer working for more than</span>
                    10 years in the startup market, I've worked in large companies solving their
                    design problems
                </h3>
            </div>
        </div>
        <div class="row g-lg-4 g-4 justify-content-between">
            <div class="col-lg-5">
                <div class="about-thumbv1">
                    <img src="{% static 'envato/assets/img/about/about-v1.png' %}" alt="img" class="round10">
                </div>
            </div>
            <div class="col-lg-7">
                <div class="about-content-v1">
                    <div class="section-title mb-xxl-5 mb-sm-4 mb-3">
                        <h2 class="stitle fw-500 mt-3" data-aos="fade-down" data-aos-duration="1500">
                            To Create Artistic And
                            <span class="text-storkes d-block">
                           Creative Design
                        </span>
                        </h2>
                    </div>
                    <div class="about-content-inner d-flex justify-content-end">
                        <div class="boxes">
                            <a href="#" class="arrow">
                                <img src="{% static 'envato/assets/img/blog/arrow-down.png' %}" alt="img">
                            </a>
                            <div class="right-comp">
                                <p class="pra-clr">
                                    Nemo enim ipsam voluptatem quia voluptas sit aut odit aut fugit, sed quia
                                    consequuntur
                                    magni dolores eos qui ratione
                                    voluptatem sequi nesciunt. dolorem ipsum quia dolor sit amet, consectetur, adipisci
                                    velit,
                                    sed quia non numquam eius
                                </p>
                                <a href="#" class="hover-circle cmborder wow fadeInUp" data-wow-duration="1.6s">
                              <span class="box">
                                 <i class="bi bi-arrow-up-right"></i>
                                 <span class="textmore">
                                    About Me
                                 </span>
                              </span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--<< About 01 >>-->

<!--<< Exprience001 >>-->
<section class="exprience-section-v01 check-box-style mb-common pt-100 pb-100" id="reprot">
    <div class="container">
        <div class="section-title mb-60">
            <span class="section-sub" data-aos="fade-down" data-aos-duration="1000">
               Timeline Period
            </span>
            <h2 class="stitle fw-500 mt-3" data-aos="fade-down" data-aos-duration="1500">
                My Work Experience And
                <span class="text-storkes d-block">
                  My Education
               </span>
            </h2>
        </div>
        <div class="row g-xxl-4 g-4 justify-content-between">
            <div class="col-lg-1 d-lg-block d-none">
                <div class="edu-lining d-lg-block d-none">
                    <div class="edu-l1"><i class="bi bi-dot"></i></div>
                    <div class="edu-l1"><i class="bi bi-dot"></i></div>
                    <div class="edu-l1"><i class="bi bi-dot"></i></div>
                </div>
            </div>
            <div class="col-lg-5 col-md-6">
                <div class="education-inner">
                    <div class="education-item cmn-shadow round8">
                        <div class="educa-head">
                            <h4>
                                <a href="#" class="white">
                                    Senior Web Designer, Webflow
                                </a>
                            </h4>
                            <span class="pra-clr">
                           ( 2023 - Present )
                        </span>
                        </div>
                        <p class="pra-clr">
                            Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat
                        </p>
                    </div>
                    <div class="education-item cmn-shadow round8">
                        <div class="educa-head">
                            <h4>
                                <a href="#" class="white">
                                    Junior Web Designer, Invision
                                </a>
                            </h4>
                            <span class="pra-clr">
                           ( July 2019 - August 2022 )
                        </span>
                        </div>
                        <p class="pra-clr">
                            Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat
                        </p>
                    </div>
                    <div class="education-item cmn-shadow round8">
                        <div class="educa-head">
                            <h4>
                                <a href="#" class="white">
                                    UI/UX Designer, Apple
                                </a>
                            </h4>
                            <span class="pra-clr">
                           ( March 2016 - March 2019 )
                        </span>
                        </div>
                        <p class="pra-clr">
                            Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-1 d-lg-block d-none">
                <div class="edu-lining m-auto d-lg-block d-none">
                    <div class="edu-l1"><i class="bi bi-dot"></i></div>
                    <div class="edu-l1"><i class="bi bi-dot"></i></div>
                    <div class="edu-l1"><i class="bi bi-dot"></i></div>
                </div>
            </div>
            <div class="col-lg-5 col-md-6">
                <div class="education-inner">
                    <div class="education-item cmn-shadow round8">
                        <div class="educa-head">
                            <h4>
                                <a href="#" class="white">
                                    Art University - New York
                                </a>
                            </h4>
                            <span class="pra-clr">
                           ( 2006 - 2008 )
                        </span>
                        </div>
                        <p class="pra-clr">
                            Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat
                        </p>
                    </div>
                    <div class="education-item cmn-shadow round8">
                        <div class="educa-head">
                            <h4>
                                <a href="#" class="white">
                                    Programming Course - Paris
                                </a>
                            </h4>
                            <span class="pra-clr">
                           ( 2005 - 2006 )
                        </span>
                        </div>
                        <p class="pra-clr">
                            Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat
                        </p>
                    </div>
                    <div class="education-item cmn-shadow round8">
                        <div class="educa-head">
                            <h4>
                                <a href="#" class="white">
                                    Web Design Course - London
                                </a>
                            </h4>
                            <span class="pra-clr">
                           ( 2004 - 2005 )
                        </span>
                        </div>
                        <p class="pra-clr">
                            Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--<< Exprience001 >>-->

<!--<< Exprience >>-->
<section class="exprience-section-v1 check-box-style mb-common pt-100 pb-100" id="skill">
    <div class="container">
        <div class="section-title text-center mb-60">
            <span class="section-sub" data-aos="fade-down" data-aos-duration="1000">
               Professional Skills
            </span>
            <h2 class="stitle fw-500 mt-3" data-aos="fade-down" data-aos-duration="1500">
                I Craft Wonderful Digital Experiences
                <span class="text-storkes d-block">
                  For Brands
               </span>
            </h2>
        </div>
        <div class="row g-xxl-4 g-3 justify-content-center">
            <div class="col-lg-3 col-md-6 col-sm-6" data-aos="fade-up" data-aos-duration="1200">
                <div class="exprience-item cmn-shadow round50 d-center">
                    <div class="box d-flex">
                        <div class="expri-icon">
                            <img src="{% static 'envato/assets/img/project/s1.png' %}" alt="img">
                        </div>
                        <div class="expri-cont">
                        <span class="white sub-wu">
                           UI / UX Design
                        </span>
                            <div class="odometer-item">
                                <h3 class="counters d-flex align-items-center">
                                    <span class="odometer" data-odometer-final="95"></span>
                                    <span> %</span>
                                </h3>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6" data-aos="fade-up" data-aos-duration="1400">
                <div class="exprience-item cmn-shadow round50 d-center">
                    <div class="box d-flex">
                        <div class="expri-icon">
                            <img src="{% static 'envato/assets/img/project/s2.png' %}" alt="img">
                        </div>
                        <div class="expri-cont">
                        <span class="white sub-wu">
                           Development
                        </span>
                            <div class="odometer-item">
                                <h3 class="counters d-flex align-items-center">
                                    <span class="odometer" data-odometer-final="90"></span>
                                    <span> %</span>
                                </h3>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6" data-aos="fade-up" data-aos-duration="1600">
                <div class="exprience-item cmn-shadow round50 d-center">
                    <div class="box d-flex">
                        <div class="expri-icon">
                            <img src="{% static 'envato/assets/img/project/s3.png' %}" alt="img">
                        </div>
                        <div class="expri-cont">
                        <span class="white sub-wu">
                           Graphic Design
                        </span>
                            <div class="odometer-item">
                                <h3 class="counters d-flex align-items-center">
                                    <span class="odometer" data-odometer-final="80"></span>
                                    <span> %</span>
                                </h3>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6" data-aos="fade-up" data-aos-duration="1800">
                <div class="exprience-item cmn-shadow round50 d-center">
                    <div class="box d-flex">
                        <div class="expri-icon">
                            <img src="{% static 'envato/assets/img/project/s4.png' %}" alt="img">
                        </div>
                        <div class="expri-cont">
                        <span class="white sub-wu">
                           Wordpress
                        </span>
                            <div class="odometer-item">
                                <h3 class="counters d-flex align-items-center">
                                    <span class="odometer" data-odometer-final="95"></span>
                                    <span> %</span>
                                </h3>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--<< Exprience >>-->

<!--<< Connected >>-->
<!-- Text SLider Start -->
<section class="textslide-solution position-relative">
    <div class="textsslide-hoverbox d-flex justify-content-center">
        <a href="protfolio.html" class="hover-circle cmborder wow fadeInUp" data-wow-duration="1.6s">
            <span class="box">
               <i class="bi bi-arrow-up-right title"></i>
               <span class="textmore">
                  Let`s Connect
               </span>
            </span>
        </a>
    </div>
    <div class="version-two-marque">
        <div class="mycustom-marque2">
            <div class="scrolling-wrap">
                <div class="comm">
                    <div class="cmn-textslide">Branding Desig</div>
                    <div><span class="slach">/</span></div>
                    <div class="cmn-textslide">App Development</div>
                    <div><span class="slach">/</span></div>
                    <div class="cmn-textslide textitalick">Branding & Identity</div>
                    <div><span class="slach">/</span></div>
                    <div class="cmn-textslide">Web Development /</div>
                </div>
                <div class="comm">
                    <div class="cmn-textslide">Branding Desig</div>
                    <div><span class="slach">/</span></div>
                    <div class="cmn-textslide">App Development</div>
                    <div><span class="slach">/</span></div>
                    <div class="cmn-textslide textitalick">Branding & Identity</div>
                    <div><span class="slach">/</span></div>
                    <div class="cmn-textslide">Web Development</div>
                </div>
            </div>
        </div>
    </div>
    <div class="version-one-marque">
        <div class="mycustom-marque">
            <div class="scrolling-wrap">
                <div class="comm">
                    <div class="cmn-textslide">Branding Desig</div>
                    <div><span class="slach">/</span></div>
                    <div class="cmn-textslide">App Development</div>
                    <div><span class="slach">/</span></div>
                    <div class="cmn-textslide textitalick">Branding & Identity</div>
                    <div><span class="slach">/</span></div>
                    <div class="cmn-textslide">Web Development /</div>
                </div>
                <div class="comm">
                    <div class="cmn-textslide">Branding Desig</div>
                    <div><span class="slach">/</span></div>
                    <div class="cmn-textslide">App Development</div>
                    <div><span class="slach">/</span></div>
                    <div class="cmn-textslide textitalick">Branding & Identity</div>
                    <div><span class="slach">/</span></div>
                    <div class="cmn-textslide">Web Development</div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Text Slider End -->

<!--<< Sponsor >>-->
<section class="sponsor-sections check-box-style mb-common pt-100 pb-100">
    <div class="container">
        <div class="sponsor__area">
            <div class="section-title text-center mb-60">
               <span class="section-sub text-capitalize" data-aos="fade-down" data-aos-duration="1000">
                  Worked with global largest brands
               </span>
            </div>
            <div class="swiper sponsor__wrap">
                <div class="swiper-wrapper">
                    <div class="sponsor__slide swiper-slide cmn-shadow round8 d-center">
                        <img src="{% static 'envato/assets/img/sponsor/partner1.png' %}" alt="img">
                    </div>
                    <div class="sponsor__slide swiper-slide cmn-shadow round8 d-center">
                        <img src="{% static 'envato/assets/img/sponsor/partner2.png' %}" alt="img">
                    </div>
                    <div class="sponsor__slide swiper-slide cmn-shadow round8 d-center">
                        <img src="{% static 'envato/assets/img/sponsor/partner3.png' %}" alt="img">
                    </div>
                    <div class="sponsor__slide swiper-slide cmn-shadow round8 d-center">
                        <img src="{% static 'envato/assets/img/sponsor/partner4.png' %}" alt="img">
                    </div>
                    <div class="sponsor__slide swiper-slide cmn-shadow round8 d-center">
                        <img src="{% static 'envato/assets/img/sponsor/partner5.png' %}" alt="img">
                    </div>
                    <div class="sponsor__slide swiper-slide cmn-shadow round8 d-center">
                        <img src="{% static 'envato/assets/img/sponsor/partner1.png' %}" alt="img">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--<< Sponsor >>-->

{% block blog %}

{% endblock %}

{% block footer %}

{% endblock %}


{% block script %}

{% endblock %}

</body>

</html>