<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
</head>
<body>
  <h1>{{ title }}</h1>
  <h2>Perkenalkan saya Muhammad Rafli Al Isfahani, Saya Adalah seorang Mahasiswa Teknik Informatika Universitas Muhammadiyah Kalimantan Timur Semester 4 </h2>
<h3><a style="color: green;" href="{% url 'home' %}">home</a></h3> 
<h3><a style="color: green;" href="{% url 'home' %}">contact</a></h3> 
</body>
</html>